<h1>Works</h1> <!-- Change "Users" to "Works" -->
<button class="btn btn-primary m-3" onclick="AddWork()">Add Work</button> <!-- Change "Add User" to "Add Work" -->

<table id="works" class="table table-striped" style="width:100%"></table> <!-- Change "users" to "works" -->

<div id="worksAddPartial"></div> <!-- Change "usersAddPartial" to "worksAddPartial" -->

<script src="~/js/Works/Works.js"> </script> <!-- Change "Users/Users.js" to "Works/Works.js" -->
