<h1>Projects</h1>
<button class="btn btn-primary m-3" onclick="AddProject()">Add Project</button>

<table id="projects" class="table table-striped" style="width:100%"></table>

<div id="projectsAddPartial"></div>

<script src="~/js/Projects/Projects.js"></script>
