<h1>Users</h1>
<button class="btn btn-primary m-3" onclick="AddUser()">Add User</button>

<button class="btn btn-success" id="showTable1">Show Users (No Deletion)</button>
<button class="btn btn-success" id="showTable2">Show All Users</button>

<table id="users" class="table table-striped" style="width:100%"></table>

<div id="usersAddPartial"></div>

<script src="~/js/Users/Users.js"> </script>