<h1>Services</h1>
<button class="btn btn-primary m-3" onclick="AddService()">Add Service</button>

<table id="services" class="table table-striped" style="width:100%"></table>

<div id="servicesAddPartial"></div>

<script src="~/js/Services/Services.js"></script>
